* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --white: #FFF; 
    --mainColor: #F4F1EA;
    --secondaryColor: #6B9080;
    --accent-color: #7e9a9a;
    --mainColor2: #FFE7C1;
    --secondaryColor2: #DC84F3;
    --accentColor2: #F3CCF3;

}

body {
    background-color: var(--mainColor); 
    color: #333; 
    line-height: 1.6; 
    padding: 20px;
}

header, footer {
    position: relative;
    text-align: center;
    padding: 20px 0;
    color: var(--white);
    border-radius: 5px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: end;
    background: linear-gradient(180deg, var(--secondaryColor), #ccc);
}

#headerCenter {
    margin-left: 230px;
}

footer {
    background-color: var(--accent-color);
}

.menu-btn {
    background-color: var(--secondaryColor); /* Matches other button styles, adjust as needed */
    color: white; /* Text color */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    
}

#googleSearch {
    padding: 0 16px;
}

h1 {
    font-size: 10rem;
    /* margin: 20px 0; */
}

#date {
    font-size: 1.5rem;
}

#time{
    font-size: 1.5rem;
}

main {
    min-height: 90vh;
    padding: 20px 0px;
}

h3 {
    font-size: 1.5rem;
    color: #333;
    margin: 10px 0;
    text-decoration: underline;
}

.w3-container {
    margin-bottom: 7px;

}

.card-header {
    display: flex;
    justify-content: space-between;
}

#ronSwansonImg, #harryPotterImg {
    max-width: 100%;
    height: auto;
    padding: 10px;
}

p {
    text-align: left;
}

div.columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

button {
    background-color: var(--accent-color);
    color: white;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.news-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    width: calc(33.333% - 20px); 
    margin-right: 20px;
}

.news-card:last-child {
    margin-right: 0;
}

.news-card h3 {
    margin-top: 0;
}

.news-card a {
    color: #007bff;
    text-decoration: none;
    margin-top: 10px;
}

.modal {
    position: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    max-width: 50%;
    height: 100px; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px; 
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    z-index: 10;
}

.close-btn {
    background-color: transparent; 
    color: #333;
    border: none;
    cursor: pointer;
}

.close-btn:focus {
    outline: 2px solid #333;
    outline-offset: 2px;
}

#nbaScores {
    display: flex;
    justify-content: space-between;

}

.miniCards {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    padding: 0% 5%;
    background-color: orange;
}

@media screen and (max-width: 992px) {
    .news-card {
        width: calc(50% - 20px); 
    }
}

@media screen and (max-width: 600px) {
    .columns {
        flex-direction: column; 
    }

    .news-card {
        width: 100%; 
        margin-right: 0; 
    }

    header, footer {
        background-color: #C0B283;
    }
}
