* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

body {
    background-color: #F4F1EA; 
    color: #333; 
    line-height: 1.6; 
    padding: 20px;
}

header, footer {
    position: relative;
    text-align: center;
    background-color: #6B9080; 
    padding: 20px 0;
    color: #FFF;
}

.menu-btn {
    position: relative;
    top: 15px;
    left: 0%;
    margin: 20px;
    background-color: #7e9a9a;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    
}

.w3-dropdown-click {
    top: 25px;
    float: left;
}

h1 {
    font-size: 2.5rem;
    margin: 20px 0;
}

main {
    min-height: 90vh;
    padding: 20px;
}

h3 {
    font-size: 1.5rem;
    color: #333;
    margin: 10px 0;
    text-decoration: underline;
}

#ronSwansonImg, #harryPotterImg {
    max-width: 100%;
    height: auto;
    padding: 10px;
}

p {
    text-align: left;
}

div.columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

button {
    background-color: #7e9a9a;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.news-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    width: calc(33.333% - 20px); 
    margin-right: 20px;
}

.news-card:last-child {
    margin-right: 0;
}

.news-card h3 {
    margin-top: 0;
}

.news-card a {
    color: #007bff;
    text-decoration: none;
    margin-top: 10px;
}

.modal {
    position: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    max-width: 50%;
    height: 100px; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px; 
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    z-index: 10;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent; 
    color: #333;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}

.close-btn:focus {
    outline: 2px solid #333;
    outline-offset: 2px;
}

@media screen and (max-width: 992px) {
    .news-card {
        width: calc(50% - 20px); 
    }
}

@media screen and (max-width: 600px) {
    .columns {
        flex-direction: column; 
    }

    .news-card {
        width: 100%; 
        margin-right: 0; 
    }

    header, footer {
        background-color: #C0B283;
    }
}
